// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

input[type='text'], textarea {
  border: none;
  width: 100%;
  outline: none;
  text-shadow: 0 2px 3px #ffffff;
  color: #ababab; }

.controls {
  margin-top: 1em;
  font-size: 18px; }
.controls .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f0f0f0; }
.controls .circle > div {
  text-shadow: none;
  padding-top: 7px; }
.controls .start-btn > div, .controls .break-btn > div {
  display: inline-block; }
.controls .start-btn:hover, .controls .break-btn:hover {
  cursor: pointer; }
.controls .start-btn {
  text-align: right; }
.controls .start-btn .circle {
  color: #3bc361; }
.controls .break-btn {
  text-align: left; }
.controls .break-btn .circle {
  color: #ffcc33; }

.checkbox {
  display: inline-block;
  margin: 0; }
.checkbox input[type='checkbox'] {
  display: none; }
.checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px; }
.checkbox label:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #f0f0f0;
  box-shadow: inset 0 2px 3px 0 #e9e7e7;
  border-radius: 50%; }
.checkbox > input + label:before {
  content: "\2022";
  color: #f0f0f0;
  font-size: 60px;
  text-align: center;
  line-height: 25px; }

.checkbox.activity input:checked + label:before {
  color: #3bc361; }

.checkbox.activity input + label:before {
  color: #b0e6bf; }

.checkbox.break input:checked + label:before {
  color: #ffcc33; }

.checkbox.break input + label:before {
  color: #f5e1a5; }

.timer {
  text-align: center;
  margin-bottom: 4em !important; }
.timer h1 {
  font-size: 100px;
  text-shadow: 0 2px 3px #ffffff;
  color: #dadada; }
.timer .stop-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin: 0 auto; }
.timer .stop-btn:hover {
  cursor: pointer; }
.timer .stop-btn .square {
  width: 10px;
  height: 10px;
  background-color: #fa6161;
  margin: 6px auto; }

.activities header, .activity header {
  box-shadow: none;
  background-color: #f3f3f3; }
.activities header.block, .activity header.block {
  padding: 0; }
.activities header .time, .activity header .time {
  top: -5px !important; }

.activities .block, .activity .block {
  position: relative;
  margin-top: 10px; }
.activities .block.activity, .activity .block.activity {
  border-left: 2px solid #3bc361; }
.activities .block.break, .activity .block.break {
  border-left: 2px solid #ffcc33; }
.activities .block .time, .activity .block .time {
  position: absolute;
  top: 10px;
  right: 10px; }

body {
  background-color: #f3f3f3;
  text-shadow: 0 2px 3px #ffffff;
  color: #ababab; }

.block {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 4px 4px 4px #e9e7e7;
  border-radius: 2px; }

main.row > div, main.row > .activity, main.row > .activities {
  margin-bottom: 30px; }

.logo {
  margin-top: 3em; }
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .logo {
    display: none; } }
.logo img {
  width: 50%;
  max-width: 25em; }

