@import "variables"

input[type='text'], textarea
  border: none
  width: 100%
  outline: none
  text-shadow: 0 2px 3px #ffffff
  color: $text-color

  &::-webkit-input-placeholder
    color: #dadada

.controls
  margin-top: 1em
  font-size: 18px

.circle-btn

  .circle
    text-align: center
    width: 70px
    height: 70px
    border-radius: 50%
    background: $dark-background-color
    display: inline-block
    transition-duration: 0.4s

    &:hover
      transition-duration: 0.4s
      cursor: pointer
      box-shadow: none
      background-color: $dark-background-color - 1

    &:active
      color: #ffffff

    & > div
      text-shadow: none
      padding-top: 12px

.start-btn
  text-align: right
  .circle
    right: 0
    color: $green-color
    &:hover
      background-color: $green-disabled-color


.break-btn
  text-align: left
  .circle
    left: 0
    color: $orange-color
    &:hover
      background-color: $orange-disabled-color

.checkbox
  display: inline-block
  margin: 0

  input[type='checkbox']
    display: none

  label
    display: inline-block
    cursor: pointer
    position: relative
    padding-left: 25px
    margin-right: 5px
    font-size: 13px

  label:before
    content: ""
    display: inline-block

    width: 25px
    height: 25px

    margin-right: 10px
    position: absolute
    left: 0
    bottom: 1px
    background-color: $dark-background-color
    box-shadow: inset 0 2px 3px 0 $shadow-color
    border-radius: 50%

  & > input + label:before
    content: "\2022"
    color: $dark-background-color
    font-size: 60px
    text-align: center
    line-height: 25px

.checkbox.work
  input:checked + label:before
    color: $green-color
  input + label:before
    color: $green-disabled-color

.checkbox.break
  input:checked + label:before
    color: $orange-color

  input + label:before
    color: $orange-disabled-color
