@import "variables"

input[type='text'], textarea
  border: none
  width: 100%
  outline: none
  text-shadow: 0 2px 3px #ffffff
  color: $text-color

  &::-webkit-input-placeholder
    color: #dadada

.controls
  margin-top: 1em
  font-size: 18px

.circle-btn

  .circle
    text-align: center
    width: 70px
    height: 70px
    border-radius: 50%
    background: $dark-background-color
    display: inline-block
    transition-duration: 0.4s

    &:hover
      transition-duration: 0.4s
      cursor: pointer
      box-shadow: none
      background-color: $dark-background-color - 1

    &:active
      color: #ffffff

    & > div
      text-shadow: none
      padding-top: 12px

.start-btn
  text-align: right
  .circle
    right: 0
    color: $green-color
    &:hover
      background-color: $green-disabled-color


.break-btn
  text-align: left
  .circle
    left: 0
    color: $orange-color
    &:hover
      background-color: $orange-disabled-color

.checkbox
  display: inline-block
  margin: 0

  input[type='checkbox']
    display: none

  label
    display: inline-block
    content: ''
    width: 25px
    height: 25px
    margin-right: 10px
    background-color: #f0f0f0
    box-shadow: inset 0 2px 3px 0 #e9e7e7
    border-radius: 50%

  label:before
    content: ''
    display: inline-block

    width: 14px
    height: 14px

    position: absolute
    left: 5px
    top: 5px
    border-radius: 50%

.checkbox.work
  input:checked + label:before
    background-color: $green-color
  input + label:before
    background-color: $green-disabled-color

.checkbox.break
  input:checked + label:before
    background-color: $orange-color

  input + label:before
    background-color: $orange-disabled-color
