<header>
  <div class="control date">
    <div class="nav prev" ng-click="activitiesCtrl.changeDate(-1)">
      <span class="glyphicon glyphicon-menu-left"></span>
    </div>
    <h3>{{activitiesCtrl.date | date}}</h3>
    <div class="nav next" ng-click="activitiesCtrl.changeDate(1)">
      <span class="glyphicon glyphicon-menu-right"></span>
    </div>
  </div>
  <div class="control">
    <div title="activity" class="checkbox work">
      <input type="checkbox" ng-model="isWorkChecked" id="workCheckbox" ng-change="checkboxChanged()">
      <label for="workCheckbox"></label></div>
    <div title="break" class="checkbox break">
      <input type="checkbox" ng-model="isBreakChecked" id="breakCheckbox" ng-change="checkboxChanged()">
      <label for="breakCheckbox"></label>
    </div>
    <div class="time">{{totalDuration}}</div>
  </div>
</header>

<div class="info" ng-hide="activities.length && types.length">
  There aren't any activities!
</div>

<div class="scroll" ng-show="activities.length && types.length">
  <div class='block {{activity.type}}' ng-repeat="activity in activities | activitiesFilter:types">
    {{activity.name}}
    <div class="time">{{activitiesCtrl.makeDuration(activity)}}</div>
    <div class="description" ng-show="activity.description">{{activity.description}}</div>
  </div>
</div>
