<header class="block">
  <div title="activity" class="checkbox work">
    <input type="checkbox" ng-model="isWorkChecked" id="workCheckbox" ng-change="checkboxChanged()">
    <label for="workCheckbox"></label></div>
  <div title="break" class="checkbox break">
    <input type="checkbox" ng-model="isBreakChecked" id="breakCheckbox" ng-change="checkboxChanged()">
    <label for="breakCheckbox"></label>
  </div>
  <div class="time">{{totalDuration}}</div>
</header>
<div class='block {{activity.type}}' ng-repeat="activity in activities">
  {{activity.name}}
  <div class="time">{{activitiesCtrl.makeDuration(activity)}}</div>
  <div class="description" ng-show="activity.description">{{activity.description}}</div>
</div>
