<div class="row">
  <div class="col-sm-12 control">
    <button class="btn btn-default btn-lg" ng-click="ctrl.startNewActivity()">Start new activity</button>
    <button class="btn btn-default btn-lg" ng-click="ctrl.makeBreak()">Make a break</button>
  </div>
</div>

<div class="row">
  <div class="col-md-4">

    <activities></activities>

  </div>
  <div class="col-md-4">

    <timer activity="activity" on-stop="ctrl.stop()"></timer>

  </div>
  <div class="col-md-4">

    <info activity="activity"></info>

  </div>
</div>


