<header class="row">
  <div class="col-sm-6 col-xs-12 col-sm-push-3">
    <div class="controls row">
      <div class="col-xs-6">
        <div class="start-btn">
          <div class="circle block" ng-click="ctrl.startNewActivity()">
            <div title="Start new activity">Start</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="break-btn">
          <div class="circle block" ng-click="ctrl.makeBreak()">
            <div title="Make a break">break</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<main class="row">
  <timer activity="activity" on-stop="ctrl.stop()" class="col-sm-6 col-sm-push-3 col-xs-12 timer"></timer>
  <info activity="activity" class="col-sm-3 col-sm-push-3 col-xs-12 activity"></info>
  <activities class="col-sm-3 col-sm-pull-9 col-xs-12 activities"></activities>
</main>

<footer class="row">
  <div class="cor-xs-12">
    Powered by <a href="http://www.hyrych.com" target="_blank">Yaroslav Hyrych</a>
  </div>
</footer>


